@import url("https://fonts.googleapis.com/css2?family=Road+Rage&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Road Rage", sans-serif;
  max-width: 100vw;
}

/* .hero-section{
    padding: 0px !important;
  } */

.hero-container {
  /* width: 110%; */
  position: relative;
  /* left: -35px; */
  background-color: #496c00;
}

.burger-container {
  background-image: url("../images/Burger.jpg");
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  --p: 70px;
  clip-path: polygon(0 0, 100% 0, calc(100% - var(--p)) 100%, 0 100%);

  position: relative;
  right: -35px;
}

.about-us-container{
  max-height: 400px
}

.pizza-container {
  background-image: url("../images/Pizza.jpg");
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  --p: 70px;
  clip-path: polygon(var(--p) 0, 100% 0, 100% 100%, 0 100%);

  position: relative;
  left: -35px;
}

.hero-section-heading {
  font-family: "Road Rage", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 200px;
  color: white;
  text-shadow: 4px 3px 5px rgba(0, 0, 0, 0.79);
  text-align: center;
  position: relative;
  top: 60px;
}

.bottom-section {
  background-image: url("../images/background.png");
  background-color: #496c00;
}

.order-button {
  width: 140px;
  background-color: white;
  color: #486a00;
  height: 30px;
  border-radius: 30px;
  border: none;
  font-weight: 800;
  position: relative;
  top: -15px;
}

.icon-card {
  background-color: white;
  border-radius: 70px;
  border: 2px dotted #496c00;
  padding: 15px;
  width: 150px;
}

.icon {
  width: 50px;
}

.text-container {
  width: 50%;
  color: white;
  text-align: center;
  position: relative;
  top: -360px;
  left: 20px;
}

/*  About us text*/
.about-group {
  position: relative;
  top: 0;
  left: 0;
}

.stone {
  width: 350px;
  /* height: 300px; */
  position: relative;
  top: -400px;
  left: 28px;
}

.tomato {
  width: 150px;
  position: relative;
  top: 250px;
  z-index: 3;
}

.towel {
  width: 400px;
  height: 300px;
  position: relative;
  top: -100px;
}

.about-text-container {
  position: relative;
  top: -692px;
  left: 72px;
  width: 260px;
  text-align: center;
  color: white;
  font-size: 19px;
}

/* image gallery */

.img-label {
  background-color: yellowgreen;
  height: 200px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;

  position: relative;
  left: 50px;
  z-index: 1;
}

.img-label-2 {
  background-color: yellowgreen;
  height: 200px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

  position: relative;
  left: -50px;
  z-index: 1;
}

.gallery-img-container-1 {
  background-image: url(../images/nuggets.jpg);
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 50px;
  position: relative;
  z-index: 2;
}

.gallery-img-container-2 {
  background-image: url(../images/jacket-potatoes.jpg);
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 50px;
  position: relative;
  z-index: 2;
}

.gallery-img-container-3 {
  background-image: url(../images/garlic-bread.jpg);
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 50px;
  position: relative;
  z-index: 2;
}

.gallery-img-container-4 {
  background-image: url(../images/fudge-cake.jpg);
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 50px;
  position: relative;
  z-index: 2;
}

.label-container {
  transform: rotate(-90deg);
  width: 125px;
}

.label-text {
  font-size: 25px;
  position: relative;
  left: -75px;
  top: -20px;
}

.label-container-2 {
  transform: rotate(90deg);
  width: 125px;
}

.label-text-2 {
  font-size: 25px;
  position: relative;
  left: 75px;
  top: -20px;
}

/* Menu */

.menu-head {
  color: white;
}

.menu-text {
  color: white;
  font-size: 18px;
  width: 60%;
  text-align: center;
}

.menu-card {
  background-color: white;
  width: 100%;
  padding: 10px;
  height: 240px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  overflow: hidden; 
}

.menu-card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  background-color: #f7f7f7;
}

.menu-image-1 {
  background-image: url(../images/wrap.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  width: 100%;
  height: 90%;
}
.menu-image-2 {
  background-image: url(../images/wings.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  width: 100%;
  height: 90%;
}
.menu-image-3 {
  background-image: url(../images/milkshakes.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  width: 100%;
  height: 90%;
}
.menu-image-4 {
  background-image: url(../images/wrap.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  width: 100%;
  height: 90%;
}

.menu-details {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px !important;

  margin: 5px;
  border: 1px solid black;
  border-radius: 10px;
}

/* footer */

.pad-parent-container {
  position: relative;
  top: 0;
  left: 0;
  height: 450px;
}

.pad-text-container {
  position: relative;
  top: -340px;
  left: 65px;
  /* font-size: 32px; */
  width: 155px;
  text-align: center;
  transform: rotate(-7deg);
}

.pad-text {
  font-size: 42px;
}

.pad-button {
  border: none;
  background-color: red;
  padding: 5px;
  border-radius: 20px;
  color: white;
  width: 130px;
  font-size: 27px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .burger-container {
    height: 30vh;
  }

  .pizza-container {
    height: 30vh;
  }

  .menu-card {
    width: 80%;
  }

  .hero-section-heading {
    font-size: 80px;
    position: relative;
    top: 40px;
  }

  .about-us-container{
    max-height: 700px
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .burger-container {
    height: 30vh;
  }

  .pizza-container {
    height: 30vh;
  }

  .menu-card {
    width: 80%;
  }

  .hero-section-heading {
    font-size: 80px;
    position: relative;
    top: 70px;
  }

  .about-us-container{
    max-height: 700px
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .burger-container {
    height: 50vh;
  }

  .pizza-container {
    height: 50vh;
  }

  .hero-section-heading {
    font-size: 180px;
    position: relative;
    top: 70px;
  }

  .about-us-container{
    max-height: 400px
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .burger-container {
    height: 55vh;
  }

  .pizza-container {
    height: 55vh;
  }

  .hero-section-heading {
    font-size: 180px;
    position: relative;
    top: 70px;
  }

  .about-us-container{
    max-height: 400px
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .burger-container {
    height: 60vh;
  }

  .pizza-container {
    height: 60vh;
  }

  .about-us-container{
    max-height: 400px
  }
}
